<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Article</title>
</head>
<body>
  <h1>New Article</h1>
  <form action="/articles" method="POST">
    <label for="title">Title: </label><br>
    <input type="text" name="title"><br><br>
    <label for="content">Content: </label><br>
    <input type="text" name="content"><br><br>
    <input type="submit" value="submit">
  </form>
</body>
</html>
